# Virtual Studio temp files
*.sdf
*.opensdf
*.suo
Debug
Release
ipch

# QCreater temp files
*.user

# CLion temp files
.idea
cmake-build-*

# Max os temp files
.DS_Store

# External files
include
lib
lib64
pkgs
objs
